@keyframes blobby {
  0% {
    opacity:.5
  }
  to {
    opacity:1
  }
}

.bubble1 {
  position:absolute;
  top:-370px;
  pointer-events:none;
  right:-200px;

  @include devices(mobile){
    display: none;
  }


  /*! width:1000px; */
  height:1000px;
  animation:blobby 8s ease-in-out alternate infinite;
  z-index: -1;


}

.bubble2 {
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
  animation:blobby 8s ease-in-out alternate infinite;
  z-index: -1;
  @include devices(mobile){
    display: none;
  }

}