.content{
  flex: 1 1 auto;
  width:100%;
  padding: 0 var(--page-padding);
  color: var(--font-color);
  letter-spacing: var(--letter-spacing);

  @include devices(tablet){
    padding: 0;
  }


  &> .wrapper{
    padding: 0;
    overflow: hidden;
    background: var(--page-bg-color);
    border-radius: calc(var(--main-radius) * 5);

    @include devices(tablet){
      border-radius: 0;

    }

    @include devices(mobile){
      min-height: 450px;
    }

  }

}