.footer{

    //background: #97b8d3;
    flex: 0 1 auto;
    width:100%;

    &>.wrapper{
        padding: var(--page-padding);
        display: flex;
        flex-direction: row;
        @include devices(mobile){
            flex-direction: column-reverse;
        }
    }

    &-main{
        flex: 1 1 auto;
    }

    &-aside{
        flex: 1 1 auto;
        max-width: 200px;
    }
}