.header{

  flex: 0 1 auto;
  width:100%;

  & a {
    text-decoration: none;
  }

  &-branding{
    max-width: 240rem;
    flex: 0 1 auto;
    text-align: center;
    display: block;
    font-weight: 500;

    @include devices(tablet){
      max-width: 160rem;
    }

    &:hover svg g path{
      fill: var(--meta-color);
    }

    &:hover &__title{
      color: var(--meta-color);
      background: -webkit-linear-gradient(0deg, var(--meta-color), var(--meta-color));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    &__logo{

    }

    &__title{
      white-space: nowrap;
      line-height: calc(var(--line-height) * 0.6);
      font-size: 15rem;

      @include devices(tablet){

        font-weight: calc(var(--font-weight) + 100);
        font-size: 10rem;
      }


      font-variant: all-small-caps;
      font-weight: calc(var(--font-weight) + 200);
      color: var(--meta-color);
      background: -webkit-linear-gradient(0deg, var(--prime-color) 30%, var(--secondary-color) 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  &>.wrapper{
    display: flex;
    padding: var(--page-padding);
    position: relative;
  }


  &__search{
    //flex: 0 1 auto;
    align-self: center;
    position: absolute;

    right: calc(var(--page-padding) + 90rem);

    @include devices(mobile){
      right: calc(var(--page-padding) + 132rem);
    }

    &> input {
      position: absolute;
      border: 1px solid var(--meta-color);
      right:-4rem;
      top:-1rem;
      background: var(--page-bg-color);
      padding: 20rem 10rem;

      &.hidden {
        display: none;
      }
    }


    &> button{
      cursor: pointer;
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      border: 3px solid var(--meta-color);
      border-radius: 50%;
    }

    &> button::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      border-radius: 1px;
      width: 3px;
      height: 12px;
      background: var(--meta-color);
      transform: rotate(-45deg);
      top: 21px;
      left: 24px
    }
  }

  &__theme-switch{
    //flex: 0 1 auto;
    align-self: center;
    position: absolute;

    right: var(--page-padding);

    @include devices(mobile){
      right: calc(var(--page-padding) + 54rem);
    }

    &> label {

      display: block;
      height: 34px;
      position: relative;
      width: 64px;

      & input {
        display: none;
      }

      & .slider {
        display: block;
        background-color: var(--page-bg-color);
        cursor: pointer;
        position: absolute;
        inset: 0;
        border: 2px solid var(--meta-color);
        transition: .4s;

      }

      & .slider:before {
        background-color: var(--meta-color);
        bottom: 3px;
        content: "";
        height: 24px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 24px;
      }

      & .slider:after {
        content: "🧐";
        display: block;
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 15px;
        line-height: 10px;
      }

      & input:checked + .slider:after {
        content: "";
        right: auto;
        left: 7px;
        font-size: 16px;
      }


      & input:checked + .slider:before {
        transform: translateX(28px);
      }

      & .slider.round {
        border-radius: 40px;
      }

      & .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  &__menu-toggle{
    align-self: center;
    position: absolute;
    right: var(--page-padding);
    top:0;
    bottom:0;
    z-index: 0;
    display: none;
    align-items: center;

    @include devices(mobile){
      display: flex;
    }
    &>button{
      width: 40px;
      height: 28px;
      position: relative;
      transition: .5s ease-in-out;
      transform: rotate(0deg);
      cursor: pointer;

      & span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--meta-color);
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .15s ease-in-out;
      }


      & span:nth-child(1) {
        top: 0;
        transform-origin: left center;
      }

      & span:nth-child(2) {
        top: 12px;
        transform-origin: left center;
      }

      & span:nth-child(3) {
        top: 24px;
        transform-origin: left center;
      }



      &.open span:nth-child(1) {
        transform: rotate(45deg);
        top: -2px;
        left: 6px;
      }

      &.open span:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 26px;
        left: 6px;
      }

    }
  }
}