
.header__nav{
  position: relative;
  flex: 1 1 auto;
  margin-right: 220rem;

  @include devices(tablet){
    margin-right: 124rem;
  }

  & a {
    color: var(--meta-color);
  }

  @include devices(mobile){
    display: none;
  }
  &.extended{
    display: block;
    position: absolute;
    background: var(--page-bg-color);
    top: 0;
    left:0;
    right: 0;
    margin-top: 140rem;
    z-index: 0;
    margin-right: 0;
    border: 1px solid var(--meta-color);
    border-radius: var(--main-radius);

    @include devices(mobile){
      margin-top: 94rem;
    }

    &>.main-menu-container{
      margin-top: var(--font-size);
    }

    &::before{
      content: '';
      position: absolute;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: var(--meta-color);
      border-radius: var(--main-radius) var(--main-radius) 0 0;

      right: calc(var(--page-padding)*0.75);
      top: -88rem;
      width: 52rem;
      height: 88rem;
      background: var(--page-bg-color);


      @include devices(mobile){
        top: -75rem;
        width: 46rem;
        height: 75rem;
      }
    }
  }

}


.main-menu-container{
  height: 100%;

}


.main-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  line-height:1;
  @include  devices(mobile){
    margin: 0;
  }
}

.menu-item{
  flex: 1 1 auto;
  padding: 10rem;
  font-size: 26rem;


  @include devices(tablet){
    padding: 0;
    font-size: 18rem;

  }

  @include  devices(mobile){
    min-width: 200rem;
    margin-bottom: 20px;
  }

  font-weight: 500;
  text-align: center;
  word-break: break-word;
  font-variant: all-small-caps;
  color: var(--meta-color);
}
