.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  min-height: 100vh;
  //background: linear-gradient(0deg, rgba(208, 208, 208, 0) 5%, rgba(255, 255, 255, 0) 55%), url('../static/bg.jpg') var(--site-bg-color);
  background: var(--site-bg-gradient);
  //background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  overflow-x: hidden;
  line-height: var(--line-height);
  min-width: 350rem;
}

.wrapper{
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;

}