// We define the mixins for two major breakpoints mobile and tablet
// $breakpoint is the variable that can have several values
@mixin devices ($breakpoint) { //the name of the mixin is devices

  @if $breakpoint == tablet {
    @media all and (max-width: 1058px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media all and (max-width: 718px) {
      @content;
    }
  }
}



@mixin button($color, $bg, $bghover, $radius,$bordercolor) {
  padding: 16rem 32rem;
  display: inline-block;
  margin-bottom: 16rem;
  color: $color;
  font-weight: 400;
  background: $bg;
  border-radius: $radius;
  border: 2px solid $bordercolor;
  cursor: pointer;
  transition: background-color .3s ease;
  text-decoration: var(--link-decoration);

  &:hover {
    background: $bghover;
  }

  &:disabled {
    cursor: default;
    opacity: 0.25;

    &:hover {
      background: $bg;
    }
  }
}

